body {
    display: grid;
    grid-template-rows: auto auto auto;
}

nav {
    background-color: blue;
    display: flex;
}
nav img {
    border-radius: 50%;
}
nav ul, nav li a, nav img{
    list-style-type: none;
    text-decoration: none;
    color: white;
    padding-right: 2%;
    margin:  0 auto;
    padding: 10px;
    display: flex;
    
}
nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
nav li:hover, nav a:hover {
    background-color: white;
    color: blue;
}

main h2 {
    color: blue;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    gap: 5% 10%;

}
.main-container img {
    margin: 10px;
}
.main-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 5%;
}
.main-container a {
    margin: 10px auto;
    background-color: blue;
    color: white;
    text-decoration: none;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 15px;
    border-radius: 10%;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    margin-top: 5%;

}

@media(width < 800px) {
    body {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto;
    }
    .main-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    footer {
        margin-top: 20%;
    }
}
@media(width < 400px) {
    body {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }
    .main-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    nav {
        display: flex;
        flex-direction: column;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}