.container {
    display: grid;
    grid-template-areas: "celda2 celda3 celda4"
                        "celda5 celda6 celda1";
    gap: 1px;
}
.container div {
    background-color: darkcyan;
    color: white;
}
.celda1 {grid-area:celda1;}
.celda2 {grid-area:celda2;}
.celda3 {grid-area:celda3;}
.celda4 {grid-area:celda4;}
.celda5 {grid-area:celda5;}
.celda6 {grid-area:celda6;}