body {
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;
}
.container {
    display: grid;
    grid-template: "header header header";
    gap: 1px;
}
.header {
    grid-area: header;
}
.container div{
    text-align: center;
    background-color: grey;

}