.texto1 {
    color: white;
    text-shadow: 0.1em 0.1em 0.2em black;
}
.texto2 {
    text-shadow:    0.2em 0.5em 0.1em #600,
                    -0.3em 0.1em 0.1em #060,
                    0.4em -0.3em 0.1em #006;
}
.texto3 {
    text-shadow: -1px -1px white, 1px 1px #333;
}
.texto4 {
    text-shadow: 1px 1px white, -1px -1px #444;
}