.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-primary {
    background-color: var(--color-principal);
    color: #fff;
}
.btn-primary:hover {
    background-color: darken(var(--color-principal), 10%);
}
.product-card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.product-card figure img {
    width: 100%;
    height: auto;
    display: block;
}
.product-card figcaption {
    font-weight: bold;
    padding: 0.5rem 0;
}
.product-info {
    padding: 1rem;
}
.price {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    color: var(--texto);
}
.categorias-nav .cat-list ul{
    display: flex;
    gap: 1rem;
    justify-content: center;
    list-style: none;
    padding: 2rem 0;
}
.categorties-nav .cat-list a:hover {
    background-color: darken(var(--color-principal), 10%)
}